<script type='text/ng-template' id='about.html'>
  <a href="#/homepage"><%= image_tag "logo-white.png", {class: "w-hidden-tiny main-logo", width: "152"} %></a>

  <h2>About The Mixtape</h2>
  <div id="about" >
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at vestibulum sem, a tristique enim. Aliquam at mollis est, sit amet tempor risus. Proin ac lacinia tellus, a sollicitudin quam. Cras eu orci at lectus laoreet placerat in aliquet odio. Duis faucibus ante in justo pulvinar rutrum. Duis varius augue non consequat fringilla. Fusce accumsan urna eget mauris semper pretium. Pellentesque turpis eros, dignissim vel porta vel, ultricies a mi. Etiam ultrices venenatis condimentum.
    </div>
    <div>
        Vestibulum a est lectus. Aliquam erat volutpat. Aliquam erat volutpat. Ut orci lectus, pretium quis mollis sit amet, consequat et est. Nam commodo, massa et dictum mollis, leo velit tempor elit, id faucibus neque nisl non felis. Nullam ac tempus massa. Nulla auctor lectus vitae metus pellentesque porta. Sed in sollicitudin mauris, eget tincidunt felis. Phasellus quis nunc dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed pharetra adipiscing odio, ut congue lacus sagittis et.
    </div>
    <div>
      Duis vel rhoncus augue. Donec vehicula lobortis commodo. Integer id diam sapien. Ut dignissim augue in condimentum posuere. Nulla volutpat nisl mi, ut egestas tortor consectetur sit amet. Nulla at nisi quis mauris luctus molestie quis et velit. Nullam faucibus eget mauris sit amet eleifend. Donec ac sem facilisis, faucibus tortor tincidunt, pellentesque sapien. Quisque sed neque laoreet, lacinia turpis nec, auctor diam. Quisque bibendum elementum dui. Integer commodo arcu sed sapien tempus volutpat. Etiam aliquet pellentesque mauris sed tempor. Aliquam consectetur elit at ultricies tincidunt. Vestibulum arcu enim, viverra vel ullamcorper eu, varius eu mauris. Donec quis lectus posuere, sodales nibh sit amet, sagittis ipsum. Ut eleifend aliquet tempus.
    </div>

  </div>

</script>
