<div id='menu' ng-class="{active: !hideMenu}">
  <div class="menu-toggle" ng-click="hideMenu = ! hideMenu"> (^_^) <span ng-if="hideMenu"> click me! </span></div>
  <ul class="menu unstyled" ng-hide="hideMenu">
    <li>
      <a href="#/homepage">Home</a>
    </li>
    <li>
      <a href="#/about">About</a>
    </li>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/35203354&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </ul>
</div>
