<div class="w-nav navbar" data-collapse="all" data-animation="over-right" data-duration="400" data-contain="1">
  <div class="w-container">
    <a class="w-nav-brand" href="#"></a>
    <nav class="w-nav-menu nab-menu-open-container" role="navigation">
      <a class="w-nav-link nav-link" href="#/homepage">Home</a>
      <a class="w-nav-link nav-link" href="#">About</a>
      <iframe frameborder='no' height='465' id='sc-widget' scrolling='no' src='https://w.soundcloud.com/player/?url=https://soundcloud.com/noochluv' width='100%'></iframe>

    </nav>
    <div class="w-nav-button nav-menu-button" data-ix="new-interaction">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
