!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Mt. Pleasant Mixtape
    / Bootstrap core CSS
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"

  %body
      #wrapper
        %nav#primary
          %ul
        = yield